body {
}

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: -5px;
    left: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    padding-top: 16px;
    box-shadow: 5px 5px 5px grey;
}

    /* Style sidebar links */
    .sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #401c4c;
        display: block;
        font-family: Arial;
    }

        /* Style links on mouse-over */
        .sidebar a:hover {
            color: #fc9003;
        }

/* Style the main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

.logo {
    height: 15%;
    width: 80%;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 15px;
}